.vscode/**
.vscode-test/**
.claude/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
esbuild.js
out/buildManager.js
out/configManager.js
out/flashManager.js
out/mcuBuildTreeProvider.js
out/serialMonitor.js
out/statusBar.js
out/test/**
